:root{
  --main-color:#ffc500;
  scroll-behavior: smooth;
}
.container_shadow{
  -webkit-box-shadow: -2px 5px 16px 7px rgba(235,235,235,0.42);
-moz-box-shadow: -2px 5px 16px 7px rgba(235,235,235,0.42);
box-shadow: -2px 5px 16px 7px rgba(235,235,235,0.42);
}